streamlit
agno
openai
icalendar
google-search-results
googlesearch-python
folium
streamlit-folium
plotly
pandas
numpy
reportlab
requests
asyncio
geopy
scikit-learn
mcp
beautifulsoup4
pycountry
overpy
speechrecognition
pyttsx3
yfinance
beautifulsoup4
amadeus
requests